<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Rol</title>
<link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css'
	rel='stylesheet'>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
	integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/css/formulario_styles.css">

</head>

<body id="page-top" class="cabecera">


	<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3"
		id="mainNav">
		<div class="container px-4 px-lg-5">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{'/index'}">Inicio
							<i class='bx bxs-log-out-circle'></i>
					</a></li>

				</ul>
			</div>
			</div>
	</nav>
	<header class="masthead">

		<main role="main" class="container">

			<div class="alert alert-success" role="alert" th:if="${mensaje}"
				th:unless="${error}" th:text="${mensaje}"></div>
			<div class="alert alert-danger" role="alert" th:if="${error}"
				th:text="${error}"></div>
			<div th:object=${user}></div>
			<div class="row mb-3">
				<div class="col-4" th:if="${user.hasRole('ROL_ADMIN')}">
					<h3>Datos de Rol</h3>
					<div class="form-group">

						<form th:action="@{/admin/rol/altaUsuarioRol}"
							th:if="${usuarioRolModel}" th:unless="${usuarioRolModelUpdate}"
							th:object="${usuarioRolModel}" method="post">
							<div class="form-group">
								<label>Rol </label> <input type="text"
									class="form-control form-control-sm" th:field="*{rol}">
							</div>
							<div class="form-group">
								<input type="hidden" class="form-control form-control-sm"
									th:field="*{enabled}">
							</div>
							<div class="form-group">
								<input type="submit"
									class="btn-success form-control form-control-sm" />
							</div>

						</form>



						<form th:action="@{/admin/rol/modificacionUsuarioRol}"
							th:if="${usuarioRolModelUpdate}"
							th:object="${usuarioRolModelUpdate}" method="post">
							<div class="form-group">
								<input type="hidden" class="form-control form-control-sm"
									th:field="*{id}">

							</div>

							<div class="form-group">
								<label>Rol </label> <input type="text"
									class="form-control form-control-sm" th:field="*{rol}">
							</div>
							<div class="form-group">
								<input type="hidden" class="form-control form-control-sm"
									th:field="*{enabled}">
							</div>

							<div class="form-group">
								<input type="submit"
									class="btn-success form-control form-control-sm" />
							</div>

						</form>
					</div>
				</div>
				<div class="col-8">
					<h3>Roles</h3>
					<!--tabla-->
					<div style="overflow-x: auto;">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">Rol</th>
									<th scope="col">Activo</th>
									<th scope="col"></th>
									<th scope="col"></th>
									<th scope="col"></th>

								</tr>
							</thead>
							<tbody>
								<tr th:if="${lstRoles.empty}">
									<td colspan="2">Sin roles en el sistema</td>

								</tr>
								<tr th:each="rol: ${lstRoles}">
									<td><span th:text="${rol.rol}"></td>
									<td><span th:text="${rol.enabled}"></td>
									<td><input type="hidden" th:value="${rol.id}" /></td>
									<td><a th:if="${user.hasRole('ROL_ADMIN')}"
										th:href="@{'/admin/rol/bajaUsuarioRol?id=' + ${rol.id}}"
										class="btn-danger btn-sm"><img
											th:src="@{'/images/trash.svg'}" th:text="Eliminar" /></a></td>
									<td><a th:if="${user.hasRole('ROL_ADMIN')}"
										th:href="@{'/admin/rol/traerUsuarioRol?id=' + ${rol.id}}"
										class="btn-warning btn-sm"><img
											th:src="@{'/images/pencil-square.svg'}" th:text="Editar" /></a></td>


								</tr>
							</tbody>

						</table>

					</div>
					<a th:if="${user.hasRole('ROL_AUDITOR')}"
						th:href="@{usuarioRol/export/pdf}"><img
						th:src="@{'/images/icons8-pdf-30.png'}" th:text="GenerarPDF" /> </a>
				</div>

			</div>
		</main>

	</header>


</body>
</html>

