<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>

<head>
    <title>Website Grupo 22</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/index_styles.css" />
</head>

<body>
    <div class="form-outline mb-4">
        <img src="/images/unla-logo.png" alt="Smiley face" style="vertical-align: Stickman; margin: 0px 10px" />
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark nav-bk">
        <img src="/images/home-icon.png" alt="Smiley face" style="vertical-align: Stickman; margin: 0px 10px" />
        <a class="navbar-brand" th:href="@{'/index'}">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <main role="main" class="container"></main>
</body>

</html>